.app-wrapper {
  margin: 0 auto;
  max-width: 47.125rem;
}

.header {
  @apply text-center;
  @apply pt-2 pb-3;

  img {
    @apply inline-block;
  }
}

.main {
  @apply flex flex-row flex-wrap;

  .search {
    @apply basis-full;
  }

  .sidebar {
    @apply basis-4/12 pr-5;
  }
  .content {
    @apply basis-8/12 pb-8;
  }
}

.ticker-list-enter-active {
  transition: all 0.2s ease-in-out;
}
.ticker-list-enter-from {
  opacity: 0;
}
.ticker-list-leave-to {
  opacity: 0;
}
