:root {
  --primary-color: #2196F3;
  --primary-color-hover: #1580d8;
  --primary-color-active: #106fbd;
  --secondary-color: #A0B0B9;
  --secondary-color-hover: #F1FCFF;
  --secondary-color-active: #e5f5fa;
}
